#wheel
wheel
#devops
black
click
pytest
pytest-cov
pylint
boto3
#web
fastapi
uvicorn
#datascience
jupyter
pandas
numpy
scikit-learn
matplotlib
seaborn
dask
#geo
geopy
#MLOps
gradio
streamlit
protobuf
onnx
databricks
databricks-cli
databricks-sql-connector
##MLOps-HuggingFace
transformers
datasets
tokenizers
#deep learning
torch
torchvision
#openai whisper
git+https://github.com/openai/whisper.git 


